<p-toolbar class="toolbar">
  <div class="p-toolbar-group-right">
    <p-button
      label="Voltar"
      icon="pi pi-arrow-left"
      styleClass="p-button-success ml-3"
      routerLink=""
    ></p-button>
  </div>
</p-toolbar>

<div class="mt-5 flex align-items-center justify-content-center  ">
  <span class="p-float-label">
    <input id="float-input" type="text" pInputText />
    <label for="float-input">Nome</label>
  </span>
  <button pButton type="button" label="Click" class="ml-3"></button>
</div>
