<p-toolbar class="toolbar">
  <div class="p-toolbar-group-right">
    <p-button
      label="Voltar"
      icon="pi pi-arrow-left"
      styleClass="p-button-primary ml-3"
      routerLink=""
    ></p-button>
  </div>
  <div class="p-toolbar-group-left mr-5">
    <h3 [ngStyle]="{ color: 'var(--blue-800)' }">Exemplos de formulários</h3>
  </div>
</p-toolbar>

<!-- Formulário Simples -->
<form [formGroup]="userInformationsForm" (ngSubmit)="onSimpleSubmit()">
  <h3
    [ngStyle]="{ color: 'var(--blue-600)' }"
    class="flex align-items-center justify-content-center"
  >
    Formulário Simples
  </h3>
  <div class="grid mt-5 flex align-items-center justify-content-center">
    <span class="p-float-label">
      <input formControlName="name" id="float-input" type="text" pInputText />
      <label for="float-input">Nome</label>
    </span>
    <span class="p-float-label ml-3">
      <input
        formControlName="surname"
        id="float-input"
        type="text"
        pInputText
      />
      <label for="float-input">Sobrenome</label>
    </span>
    <span class="p-float-label ml-3">
      <input formControlName="age" id="float-input" type="number" pInputText />
      <label for="float-input">Idade</label>
    </span>
    <span class="p-float-label ml-3">
      <input formControlName="email" id="float-input" type="text" pInputText />
      <label for="float-input">Email</label>
    </span>
  </div>
  <div class="flex align-items-center justify-content-center mt-4">
    <button
      pButton
      type="submit"
      label="Enviar"
      icon="pi pi-send"
      class="p-button-primary mt-3"
      [disabled]="!userInformationsForm.valid"
      *ngIf="userInformationsForm.touched"
    ></button>
    <button
      *ngIf="sendSimpleDatas"
      pButton
      type="submit"
      label="Limpar"
      icon="pi pi-trash"
      class="p-button-danger mt-3 ml-3"
      (click)="cleanSimpleForm()"
    ></button>
  </div>
</form>
<div class="datas my-5" *ngIf="sendSimpleDatas">
  <h2>Dados inseridos:</h2>
  <span>Nome: {{ getSimpleDatasForm()?.name }}</span>
  <span>Sobrenome: {{ getSimpleDatasForm()?.surname }}</span>
  <span>Idade: {{ getSimpleDatasForm()?.age }}</span>
  <span>Email: {{ getSimpleDatasForm()?.email }}</span>
</div>

<!-- Grupo de formulários -->
<form [formGroup]="groupForm" (ngSubmit)="onGroupSubmit()">
  <h3
    [ngStyle]="{ color: 'var(--blue-600)' }"
    class="flex align-items-center justify-content-center mt-5"
  >
    Grupo de Formulários
  </h3>
  <div class="grid p-fluid">
    <div class="col-12 md:col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input
          type="text"
          pInputText
          placeholder="Nome de usuário"
          formControlName="username"
        />
      </div>
    </div>

    <div class="col-12 md:col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">$</span>
        <input
          type="number"
          pInputText
          placeholder="Preço"
          formControlName="price"
        />
        <span class="p-inputgroup-addon">.00</span>
      </div>
    </div>

    <div class="col-12 md:col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">www</span>
        <input
          type="text"
          pInputText
          placeholder="Website"
          formControlName="website"
        />
      </div>
    </div>
  </div>

  <div class="grid mt-2">
    <div class="col-12">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"
          ><i class="pi pi-tags" style="line-height: 1.25"></i
        ></span>
        <span class="p-inputgroup-addon"
          ><i class="pi pi-shopping-cart" style="line-height: 1.25"></i
        ></span>
        <input
          type="text"
          pInputText
          placeholder="Produto"
          formControlName="product"
        />
      </div>
    </div>
  </div>
  <div class="flex align-items-center justify-content-center mt-4">
    <button
      pButton
      type="submit"
      label="Enviar"
      icon="pi pi-send"
      class="p-button-primary mt-3"
      [disabled]="!groupForm.valid"
      *ngIf="groupForm.touched"
    ></button>
    <button
      *ngIf="sendGroupDatas"
      pButton
      type="submit"
      label="Limpar"
      icon="pi pi-trash"
      class="p-button-danger mt-3 ml-3"
      (click)="cleanGroupForm()"
    ></button>
  </div>
</form>
<div class="datas my-5" *ngIf="sendGroupDatas">
  <h2>Dados inseridos:</h2>
  <span>Nome de usuário: {{ getGroupFormDatas()?.username }}</span>
  <span>Preço: {{ getGroupFormDatas()?.price }}</span>
  <span>Website: {{ getGroupFormDatas()?.website }}</span>
  <span>Product: {{ getGroupFormDatas()?.product }}</span>
</div>
