<p-toolbar class="toolbar">
  <div class="p-toolbar-group-right">
    <p-button
      label="Voltar"
      icon="pi pi-arrow-left"
      styleClass="p-button-primary ml-3"
      routerLink=""
    ></p-button>
  </div>
  <div class="p-toolbar-group-left mr-5">
    <h3 [ngStyle]="{ color: 'var(--blue-800)' }">Exemplos de tabelas</h3>
  </div>
</p-toolbar>

<!-- Tabela -->

<div class="">
  <p-table [value]="tableDatas">
    <ng-template pTemplate="header">
      <tr>
        <th>Cor</th>
        <th>Id</th>
        <th>Data</th>
        <th>Ano</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
      <tr>
        <td>{{ tableDatas[0].color }}</td>
        <td>{{ tableDatas[0].id }}</td>
        <td>{{ tableDatas[0].pantone_value }}</td>
        <td>{{ tableDatas[0].year }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
